@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/worksans-black.ttf') format('truetype');
}

/* @font-face {
    font-family: 'Space Grotesk';
    src: url('./fonts/spacegrotesk-medium.otf') format('truetype')     
} */

html {
    font-size: 12px;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    border-style: none;
    color: #1B2F3A;
    background-color: #F0E3DA;
    font-family: 'Space Grotesk', Helvetica, Arial, sans-serif;
    ;

}

.container__grid {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HEADER */


.header__fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    font-size: 12px;

    padding: 0rem 0.8rem;
    
} 

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burguer.fa.fa-bars {
    font-size: 1.3em;
}

.header__logo {
    margin-top: 0.5rem;
    margin-left: 2em;
}

.header__action {
    background-color: #D5583C;
    color: #F0E3DA;
    border-radius: 20px;

    font-size: 12px;
    font-weight: bold;

    padding: 10px;
}

/* SECCION 1: CALL TO ACTION IMAGEN */

.call-action {
    width: 100%;
    text-align: center;

}

.call-action__img {
    width: 100%;
    height: auto;
    max-width: 100vw;

    margin-top: 6rem;
}


/* SECCION 2: FILTRADO */

.filter {
    width: 100%;
}

.filter__bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;

}

.filter__search {
    flex: 1;
    max-width: 100%;
    padding: 1rem 1.7rem;
    margin: 1rem 2rem 1rem 1rem;
    /* margin right more */

    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    background-color: #fef7f1;
}

/* SECTION 3 */

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;


}


.cards__1 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    /* Antes tenía max-width, corregido a width */

    background-color: #fef7f1;
    border-radius: 12px;
    overflow: hidden;
    /* Para asegurar que el borde redondeado funcione correctamente */
    margin-bottom: 2rem;
}

.cards__2 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;

    background-color: #fef7f1;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.cards__3 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;

    background-color: #fef7f1;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 2rem;
}


.cards__4 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: #fef7f1;
    border-radius: 12px;
    overflow: hidden;
}


/* Tarjeta parte izq */

.cards__header {
    position: relative;
    display: flex;
    width: 40%;
}

.cards__date {
    position: absolute;
    top: 1rem;
    left: 1rem;

    display: inline-flex;
    align-items: center;
    background: none;
}

.cards__txt {
    background: none;
    font-weight: bold;
}


.cards__date-circle {

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D5583C;

    margin-right: 0.2rem;

    box-shadow: 0 1px 7px #ff6b4a;
}



.cards__image {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 12px 0 0 12px;

}

/* Tarjeta parte drcha */

.cards__header-link {
    cursor: pointer;
}

.cards__text {
    width: 60%;
    font-size: 1.2rem;
    margin-left: 1rem;
    background-color: #fef7f1;
    color: #1B2F3A;
}

.cards__location {
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 1em;
    background: none;
}

.card__h2 {
    font-size: 1.8em;
    /* line-height: 1em; */

    font-weight: bold;
    background: none;
}

.cards__link {
    width: auto;
    position: absolute;
    bottom: 1em;
    right: 1em;
    text-align: right;
    margin-top: 10px;

    background: none;
    color: #D5583C;

    font-size: 0.8em;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

.cards__find-more {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin: 2rem 0rem 3rem 0rem;
}

/* FOOTER */

.footer {
    background-color: #1B2F3A;
    padding: 1.8rem 1rem;
    display: flex;
    text-decoration: none;
    list-style: none;
}

.footer__links {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-content: center;

    background: none;
    font-size: 1rem;
    letter-spacing: 1px;
}

.footer__link {
    list-style: none;
    text-decoration: none;

    background: none;
    color: #fef7f1;
}

/* DANA PAGE · DANA PAGE · DANA PAGE */


/* HEADER DANA */

.main__emergencia-dana { 
    margin-top: 4rem;

}
.emergency__dana {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__dana {
    display: flex;
    flex-direction: column;
}



.header__dana-advice {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;

    margin-bottom: 1rem;
}

.header__dana-txt {
    color: #D5583C;
}

.header__dana-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: #D5583C;
    box-shadow: 0 1px 7px #ff6b4a;
    margin-right: 0.4rem;
}

.header__dana-img {
    border-radius: 5px;
}

/* INTRO DANA */

.intro__dana {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.intro__dana-h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.intro__dana-h5 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.intro__dana-txt {
    font-size: 1.2rem;
    margin-bottom: 1rem;

}

/* MAPA DANA */

.mapa__dana {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.mapa__dana-h2 {
    display: flex;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.mapa__dana-iframe {
    display: flex;
    width: 100%;
}


/* CENTERS DANA */

.centers__dana {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.centers__dana-h2 {
    display: flex;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.centers__dana-txt {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.cards__centers {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem 1.5rem;

}

.cards__listInfo-link {
    background-color: #fef7f1;
}

/* Tarjeta parte izquierda */

.cards__izquierda {
    display: flex;
    min-width: 150px;

    justify-content: center;
    background-color: #D5583C;
    padding: 2rem;

    border-radius: 12px 0px 0px 12px;
}

.cards__txt {
    display: flex;
    background: none;
    color: #1B2F3A;
    font-size: 1.6rem;
    letter-spacing: 1px;
}

.cards__derecha {
    justify-content: space-between;
}

.cards__list {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    padding: 2rem;
    background-color: #FFF9F5;
    border-radius: 0px 12px 12px 0px;
}

strong {
    background: none;
}

.cards__listInfo {
    background: none;
    list-style: none;
    margin-bottom: 1rem;

}

.cards__listInfo-under {
    text-decoration: underline;
}

/* Cards version 2: CATARROJA  */
.cards__izquierda.cards__izquierda--2 {
    background-color: #593436;

}

.cards__txt.cards__txt--2 {
    color: #C6C54D;

}

/* Cards version 2: SEDAVÍ  */
.cards__izquierda.cards__izquierda--3 {
    background-color: #C6C54D;

}

.cards__txt.cards__txt--3 {
    color: #593436;
}


/* DONATION FORM */

.form__dana-h2 {
    display: flex;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.form__dana-txt {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


.form__dana {
    display: flex;
    flex-direction: column;
}

.form__eurosText {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.form__eurosImput {
    min-width: 45%;
    height: 30px;
    padding: 2rem;
    padding-left: 2.8rem;

    background-color: #FFF9F5;
    color: #a6a9c5;
    border-radius: 20px;

    text-align: left;
    font-size: 2rem;
}


.form__payment {
    display: flex;
    flex-direction: column;
}

.form__paymentStyle {
    display: flex;
    flex-direction: row;
    min-width: 45%;
    height: 30px;
    align-items: center;
    font-size: 1.4rem;
    background-color: #FFF9F5;
    border-radius: 20px;
    align-content: left;
    padding: 2rem;
    margin-bottom: 1.5rem;
}

.form__paymentImput {
    display: flex;
    width: 21px;
    height: 21px;
    background-color: #FFF9F5;
    margin-right: 1em;
}


.form__label {
    display: flex;
    background-color: #FFF9F5;
}

.form__checkbox {
    margin-right: 1em;
    width: 17px;
    height: 17px;
    margin-left: 2em;

}

.form__checkboxStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
}

.form__checkboxLabel {
    font-size: 1.2rem;

}

.botonDonar {
    display: flex;
    flex-direction: row;
    min-width: 45%;
    height: 30px;
    background-color: #D5583C;
    color: #F0E3DA;

    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 30px;
    padding: 2rem;
}


/* -> ASIDE */


.nav__intern {
    background-color: #fef7f1;
    height: 200px;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 1.2rem;
}

h3 {
    font-size: 23px;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.nav__intern-title {
    background-color: #fef7f1;
}

.nav__internList {
    background-color: #fef7f1;
    margin-left: 2rem;
}

.nav__internList-items {
    background-color: #fef7f1;
    margin-bottom: 0.5rem;
}

.nav__links {
    background-color: #fef7f1;
}

.nav__links:hover {
    color: #D5583C;
}

/*  MOBILE */

@media (max-width: 768px) {


    .container {
        display: block;
    }

    .article__emergencia-dana {
        margin: 2rem;
    }

    aside {
        display: none;
    }

    .cards__grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}



/* IPAD & DESKTOP */
@media (min-width: 768px) {

    .header__fixed {
        padding: 0rem 1rem;
    }

    .header__logo {
        width: 150px;
        margin-top: 0.2rem;
    }

    .header__burguer.fa.fa-bars {
        font-size: 1.8em;
    }


    .header__action {
        font-size: 15px;
        font-weight: bold;
        border-radius: 25px;
        padding: 14px;
    }

    .main__emergencia-dana { 
        margin-top: 8rem;
    
    }

    .call-action__img {
       margin-top: 8rem;
    }
    

    .main__emergencia-dana {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 20px;
        padding: 20px;
    }

    aside {
        display: block;
        font-size: 1.5rem;
    }

    .aside__img-emergency {
        width: 200px;
    }

    .cards__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .cards__centers {
        display: flex;
        flex-direction: column;
        /* margin: 1rem 1rem 1.5rem; */
    }

    .cards__izquierda {
        border-radius: 12px 12px 0px 0px;
    }

    .cards__list {
        border-radius: 0px 0px 12px 12px;
    }

    .cards__txt {
        font-size: 1.8rem;
    }

    .cards__link {
        font-size: 1.8rem;
    }

    .cards__find-more {
        font-size: 1.5rem;

    }

    .footer__links {
        font-size: 1.2rem;
    }

}